# Composer dependencies
/vendor/
/public/wp/
/public/wp-content/vendor

# WordPress core
!public/wp-content/
!public/wp-content/mu-plugins
public/wp-content/plugins/*
public/wp-content/themes/*
public/wp-content/autoptimize_404_handler.php
public/wp-content/cache
public/wp-content/settings
public/wp-content/uploads

# Include manually managed plugins and themes
!/public/wp-content/themes/astra-child/
!/public/wp-content/plugins/astra-addon/
!/public/wp-content/themes/index.php
!/public/wp-content/plugins/index.php
